
:root{
    --bg-color:black;
    --second-bg-color: #161616;
    --text-color:#fff;
    --main-color: #ff6347;
}
html{
    font-size: 43.5%;
    overflow-x: hidden;
}
body{
    background:var(--bg-color);
    
    font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
    color: var(--text-color);
}
html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: var(--main-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
